/* App.css */

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th {
  background-color: #04aa6d !important;
}
table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 8px;
  text-align: left;
}

.pagination-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 8px 16px;
  margin: 0 5px;
  border: none;
  background-color: #04aa6d !important;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

/* button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
} */

.page-info {
  margin: 0 10px;
}

.App {
  text-align: center;
}
